<div class="row upper-margin">
	<div class="col-md-12 text-center">
		<h3>Tello Drone App Web Socket Testing</h3>
	</div>
</div>
<br>
<div class="row text-center">
	<div class="col-md-12">
		<h5>{{socketConn}}</h5>
	</div>
</div>
<br>
<div class="row text-center">
	<div class="col-md-10 offset-md-1">
		<div class="table-responsive">
			<table class="table table-hover table-striped table-dark">
				<thead>
					<tr>
						<td>Roll</td>
						<td>Pitch</td>
						<td>Yaw</td>
						<td>X Vel</td>
						<td>Y Vel</td>
						<td>Z Vel</td>
						<td>Height</td>
						<td>Battery</td>
						<td>MSNM</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{roll}}</td>
						<td>{{pitch}}</td>
						<td>{{yaw}}</td>
						<td>{{xvel}}</td>
						<td>{{yvel}}</td>
						<td>{{zvel}}</td>
						<td>{{height}}</td>
						<td>{{bat}}</td>
						<td>{{msnm}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<router-outlet></router-outlet>